<footer class="footer">
  <div class="footer-container">
    <!-- Sección izquierda: Logo y redes sociales -->
    <div class="footer-left">
      <div class="footer-logo">
        <img src="assets/img/logo-negativo.png" alt="Gen3i" />
      </div>


    </div>
    <div class="footer-center">
      <div class="social-media">
        <a href="https://linkedin.com" target="_blank" data-social="linkedin">
          <img src="assets/img/icon-linkedin.png" alt="LinkedIn" />
        </a>
        <!-- <a href="https://instagram.com" target="_blank" data-social="instagram">
          <img src="assets/img/icon-instagram.png" alt="Instagram" />
        </a>
        <a href="https://facebook.com" target="_blank" data-social="facebook">
          <img src="assets/img/icon-facebook.png" alt="Facebook" />
        </a>
        <a href="https://twitter.com" target="_blank" data-social="twitter">
          <img src="assets/img/icon-twitter.png" alt="Twitter" />
        </a> -->
      </div>
    </div>


    <!-- Sección derecha: Información de contacto -->
    <div class="footer-right">
      <div class="contact-info">
        <div class="contact-icons">
          <img src="assets/img/icon-email.png" alt="Email" />
          <img src="assets/img/icon-place.png" alt="Location" />
          <img src="assets/img/icon-whatsap.png" alt="WhatsApp" />
        </div>
        <div class="contact-item" data-contact="email">
          <span class="text-bold">info&#64;gen3i.com.ar</span>
        </div>
        <div class="contact-item" data-contact="website">
          <span>www.gen3i.com.ar</span>
        </div>
        <div class="contact-item" data-contact="location">
          <span>Buenos Aires, Argentina</span>
        </div>
      </div>
    </div>
  </div>
</footer>
