// Colors
$primary-dark: #175e5e;
$primary: #217a7e;
$purple-dark: #543884;
$purple: #6d4db5;
$purple-light: #beaae5;
$yellow: #f2c75b;
$pink-dark: #a13670;
$pink: #ec4176;
$blue-dark:#262254;
$light-bg:#EDEAF4;

// Typography
$font-heading: 'Fraunces', serif;
$font-body: 'Syne', sans-serif;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
