<div class="estrategias-container">
  <div class="content-wrapper">
    <div class="text-content">
      <h2 class="title">Estrategias innovadoras.</h2>
      <h3 class="subtitle alternate-font">Enfoque de género.</h3>
      <h3 class="subtitle alternate-font">Sostenibilidad.</h3>
    </div>
    <div class="image-container">
      <img src="assets/img/baner2arriba.png" alt="Estrategias innovadoras">
    </div>
  </div>
</div>

<div class="federalismo-container">
  <div class="content-wrapper">
    <div class="left-side">
      <div class="image-container">
        <img src="assets/img/banner3.png" alt="Equipo diverso">
      </div>
    </div>
    <div class="text-content">
      <p class="subtitle-small">Para todo el país, para todo el continente.</p>
      <h2 class="title">Federalismo, igualdad, innovación, triple impacto.</h2>
      <div class="underline"></div>
    </div>
  </div>
</div>
