<!-- Sección Servicios -->
<section id="servicios" class="servicios-section">
  <div class="container">
    <h2 class="servicios-title">Nuestros servicios</h2>

    <div class="servicios-grid">
      <!-- Empresas -->
      <div class="servicio-card">
        <div class="servicio-image">
          <img src="assets/img/empresas.png" alt="Servicios para Empresas">
        </div>
        <div class="servicio-content">

          <ul class="servicios-list">
            <li>Desarrollo de Planes de acción.</li>
            <li>Programas para cadenas de valor con perspectiva de género.</li>
            <li>Capacitación E-learning.</li>
            <li>Talleres y conversatorios temáticos híbridos.</li>
            <li>Desarrollo de contenido temático a través de herramientas tecnológicas con enfoque lúdico.</li>
          </ul>
        </div>
      </div>

      <!-- Gobiernos -->
      <div class="servicio-card">
        <div class="servicio-image">
          <img src="assets/img/gobiernos.png" alt="Servicios para Gobiernos">
        </div>
        <div class="servicio-content">

          <ul class="servicios-list">
            <li>Articulación público privada de programas con enfoque de género.</li>
            <li>Programas de desarrollo local territorial.</li>
            <li>Programas de liderazgo para mujeres rurales.</li>
            <li>Networking para mujeres emprendedoras.</li>
          </ul>
        </div>
      </div>

      <!-- Organizaciones Civiles -->
      <div class="servicio-card">
        <div class="servicio-image">
          <img src="assets/img/civiles.png" alt="Servicios para Organizaciones Civiles">
        </div>
        <div class="servicio-content">

          <ul class="servicios-list">
            <li>Articulaciones multisectoriales.</li>
            <li>Organización de Foros y conversatorios.</li>
            <li>Programas comunitarios.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Sección Gamificación -->
<section class="gamificacion-section">
  <div class="container">
    <h2 class="gamificacion-title">Somos especialistas en gamificación</h2>

    <div class="gamificacion-content">
      <div class="gamificacion-text">
        <p class="gamificacion-paragraph">
          Integrar elementos de juego en contextos no lúdicos, como el desarrollo de juegos y videojuegos personalizados, nos permite crear experiencias inmersivas y atractivas que fomentan la participación, el aprendizaje y el cambio de comportamiento con compromiso y motivación.
        </p>

        <p class="gamificacion-paragraph">
          A través de la narrativa y los desafíos de los juegos que desarrollamos, se puede fomentar la empatía y desafiar prejuicios, llevando a una comprensión más profunda de las desigualdades de género o la importancia de prácticas sostenibles.
        </p>
      </div>
    </div>
  </div>
</section>
