<div class="protagonistas-container">
  <div class="content-wrapper">
    <div class="protagonistas-content">
      <!-- Imagen de la izquierda -->
      <div class="imagen-izquierda">
        <img src="assets/img/fotoprotagonistas.png" alt="Protagonistas" class="foto-protagonistas">
      </div>

      <!-- Contenido de la derecha con título y texto -->
      <div class="contenido-derecha">
        <div class="titulo-imagen">
          <img src="assets/img/tituloprotagonistas.png" alt="Protagonistas - Impulsar Local, Proyectar Federal" class="titulo-protagonistas">
        </div>

        <div class="texto-descripcion">
          <p>Conocé el programa que inspira y empodera a las mujeres de nuestra región a través del intercambio de conocimiento, experiencias y el fomento de mejores prácticas en áreas clave como el liderazgo, la gestión empresarial y el activismo social. ¡Un futuro más sostenible, inclusivo y equitativo es posible!</p>
        </div>

        <div class="boton-container">
          <button class="btn-mas-info">
            Más info <span class="icono-plus">+</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
