<!-- Sección Hero/Inicio -->
<section id="inicio">
  <app-slider-presentacion1></app-slider-presentacion1>
</section>


<section class="presentacion_2">
<app-slider-presentacion2></app-slider-presentacion2>
</section>

<section class="presentacion_3">
<app-slider-presentacion3></app-slider-presentacion3>
</section>

<section id="quienes-somos" class="seccion-quienes-somos">
<app-quienes-somos></app-quienes-somos>
</section>

<!-- Sección Servicios -->
<app-servicios></app-servicios>

<!-- Sección Experiencia -->
<!-- <section id="experiencia" class="section">
  <div class="container">
    <h2>Experiencia</h2>
    <p>Nuestra experiencia y casos de éxito...</p>
  </div>
</section> -->

<!-- Sección Contacto -->
<!-- <section id="contacto" class="section">
  <div class="container">
    <h2>Contacto</h2>
    <p>Formulario de contacto o información de contacto...</p>
  </div>
</section> -->
