<div class="slider-presentacion4-container">
  <div class="images-row">
    <div class="image-left">
      <div class="image-container">
        <img src="assets/img/fotoizquierda.png" alt="Imagen izquierda" class="img-responsive">
      </div>
    </div>
    <div class="image-right">
      <div class="image-container">
        <img src="assets/img/fotoderecha.png" alt="Imagen derecha" class="img-responsive">
      </div>
    </div>
  </div>
  <div class="image-bottom">
    <div class="image-container">
      <img src="assets/img/fotodoscolumnas.png" alt="Imagen dos columnas" class="img-responsive">
    </div>
  </div>
</div>
